@{
    ViewData["Title"] = "Home";
}

<div style="display:flex; justify-content:center;">
    <h1>The Joel Hilton Film Collection</h1>
</div>
<br />
<div style="display:flex; justify-content:center;">
    <img src="~/img/JoelHilton.jpeg" height="500" alt="PicOfJoelHilton" />
</div>